* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Righteous', cursive;
}

html {
	scroll-behavior: smooth;
}


body {
	/*background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("../images/new/bg.jpg");*/
	background-color: #333;
	background-image: url(../images/bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

h1, h4 {
 	font-family: 'Do Hyeon', sans-serif
 	margin-bottom: 3%;
 	margin-top: 5%;
}

h2,
h3,
h5,
h6 {
	font-family: 'Gothic A1', sans-serif;
	font-weight: bold;
	margin-bottom: 5%;
}

h4 {
	font-size: 2vw;
}

p {
	margin-bottom: 5%;
	letter-spacing: 1px; 
	background: 
	-webkit-linear-gradient(black, orangered);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

/*Font Family*/
/*font-family: 'Do Hyeon', sans-serif;
font-family: 'Gothic A1', sans-serif;
font-family: 'Righteous', cursive;*/

.image-container {
	background-image: url(../images/COVID-192.jpg);
	background-size: cover;
	position: relative;
	height: 80vh;
}

.text {
	/*background-color: indigo;*/
	/*background-image: linear-gradient(indigo, #333)*/
	color: white;
	font-family: 'Do Hyeon', sans-serif; 
	font-size: 7vw;
	font-weight: bold;
	color: indigo;
	/*background: #FFFFFF;*/
	text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
	margin: 0 auto;
	padding: 10px;
	width: 50%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*mix-blend-mode: screen;*/
}

.nav-item a {
	text-decoration: none;
}

.nav-pills>li>.active,
.nav-pills>li>a:hover,
.nav-pills>li>a:focus {
  	background-color: indigo;
  	color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: indigo;
  	color: #fff;
}
.dropdown-menu {
	background-color: #fff;
	color: #fff;
}

.container-fluid {
	height: 20vh;
	background-image: linear-gradient(#eee, indigo)
}

.container {
	background-color: rgba(255, 249, 192, 0.7);
	color: #333;
}
.pstyles {
	/*background: rgba(255, 249, 192, 0.7); */
}

.fstyle {
	 background: -webkit-linear-gradient(#333, red);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.last {
	margin-bottom: 3%;
}

.row {
	margin-bottom: 5%;
}

.card {
	background-color: indigo;
	min-height: 81vh;
	margin-bottom: 5%;
}

.card img {
	height: 50vh;
	width: 90%;
	margin-top: 5%;
}

.fstyles {
	 background: -webkit-linear-gradient(#fff, indigo);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.pstyle {
	margin-bottom: 5%;
	letter-spacing: 1px;
	background: -webkit-linear-gradient(#fff, #FF4500);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

/*break points*/
/* Portrait */
 
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.card {
		min-height: 40vh;
	}
	.card img {
		height: 20vh;
	} 
}